@charset "utf-8";
/* CSS Document */
.quest{
	width:1000px;
	background:#EAEAEA;
	min-height:1000px;
	padding-top:50px;
}
.new-quest-content{
	display:none;
	width:650px;
	margin:0 auto;
	margin-top:20px;
	border-radius:5px 5px 5px 5px;
	
}
.singlequest{
	width:536px;
	border:#0CF 1px solid;
	border-radius:5px 5px 5px 5px;
}
.previous-quest-detail{
	display:none;
}
.previous-quest-delete{
	padding-bottom:10px;
}
.previous-quest-detail-singlequest-singlestaff{
	float:left;
	width:460px;
}
.new-quest-button{
	height:50px;
	text-align:center;
	line-height:50px;
	overflow:hidden;
	background-color:#FFF;
	border-radius:5px 5px 5px 5px;
}
.previous-quest-title{
	height:50px;
	text-align:center;
	line-height:50px;
	overflow:hidden;
	background-color:#FFF;
	border-radius:5px 5px 5px 5px;
}
.previous-quest-singlequest{
	border:#00F solid 1px;
	border-radius:5px 5px 5px 5px;
	margin:0 auto;
	margin-top:10px;
	width:750px;
	margin-bottom:10px;
}
.new-quest{
	width:750px;
	border:#C00 solid 1px;
	margin:0 auto;
	border-radius:5px 5px 5px 5px;
}
.previous-quest-detail-description{
	width:650px;
	margin:0 auto;
	margin-top:20px;
	margin-bottom:20px;
}